:root {
  --background-gradient-90: linear-gradient(
    90deg,
    rgb(193, 165, 190) 11.2%,
    rgb(169, 185, 170) 91.1%
  );
  --background-gradient-0-green: linear-gradient(
    0deg,
    rgb(193, 165, 190) 11.2%,
    rgb(169, 185, 170) 91.1%
  );
  --background-gradient-0-purple: linear-gradient(
    0deg,
    rgb(169, 185, 170) 11.2%,
    rgb(193, 165, 190) 91.1%
  );
  --light-color: #f1dfe1;
  --purple: rgb(193, 165, 190);
  --green: rgb(169, 185, 170);
  --heading-font: "Radley", serif;
  --standard-font: monospace;
}

h1 {
  font-family: var(--heading-font);
  font-size: 50px;
}

h2 {
  font-family: var(--standard-font);
  font-size: 35px;
}

h3 {
  font-family: var(--standard-font);
  font-size: 25px;
}

p,
.my-work {
  font-family: var(--standard-font);
  font-size: 15px;
}

.hero p {
  font-family: var(--standard-font);
  font-size: 18px;
}

.my-work-hero p {
  font-family: var(--standard-font);
  font-size: 18px;
}
.my-work {
  max-width: 900px;
}

.background {
  font-family: var(--standard-font);
  font-size: 15px;
}

.full-page-container-gradient-90 {
  padding-top: 90px;
  padding-bottom: 60px;
  background: var(--background-gradient-90);
}

.full-page-container-gradient-0-green {
  padding-top: 90px;
  padding-bottom: 60px;
  background: var(--background-gradient-0-green);
}

.full-page-container-gradient-0-purple {
  padding-top: 90px;
  padding-bottom: 60px;
  background: var(--background-gradient-0-purple);
}

.navbar {
  padding: 0 40px;
  background: var(--background-gradient-90);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.322);
}

.nav-item,
.navbar-brand {
  font-family: var(--standard-font);
  text-transform: uppercase;
}

.button-standard {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  transition: all 0.1s ease-in-out;
}

.button-highlight {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  background-color: var(--light-color);
  transition: all 0.1s ease-in-out;
}

.button-highlight:hover,
.button-standard:hover {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  font-weight: bold;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.322);
}

.hero,
.about {
  margin: 0 0 90px 0;
}

.img-hero {
  width: 420px;
}

.highlight {
  font-family: var(--heading-font);
  font-size: 25px;
  color: var(--light-color);
}

.highlight-small {
  font-family: var(--heading-font);
  font-size: 16px;
  color: var(--light-color);
}

.img-background {
  height: 150px;
}

.img-about {
  width: 300px;
}

.phrase {
  max-width: 700px;
  background-color: var(--green);
}

.ext-link {
  color: darkslateblue;
}

.ext-link:hover {
  color: darkslategray;
}

@media (max-width: 768px) {
  .mobile-center-768 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 23px;
  }
  p {
    font-size: 18px;
  }
  .highlight {
    font-size: 25px;
  }
  .hero {
    margin: 0 0 60px 0;
  }
  .recent-work {
    margin: 0 10px;
  }
  .mobile-center-576 {
    text-align: center;
  }
}
