:root {
  --background-gradient: linear-gradient(
    90deg,
    rgb(193, 165, 190) 11.2%,
    rgb(169, 185, 170) 91.1%
  );
  --light-color: #f1dfe1;
  --heading-font: "Radley", serif;
  --standard-font: monospace;
}

h1 {
  font-family: var(--heading-font);
  font-size: 50px;
}

h2 {
  font-family: var(--standard-font);
  font-size: 35px;
}

h3 {
  font-family: var(--standard-font);
  font-size: 25px;
}

.hero p {
  font-family: var(--standard-font);
  font-size: 18px;
}

.about p {
  font-family: var(--standard-font);
  font-size: 15px;
}

.background p {
  font-family: var(--standard-font);
  font-size: 15px;
}

.full-page-container {
  padding-top: 90px;
  padding-bottom: 60px;
  background: var(--background-gradient);
}

.navbar {
  padding: 0 40px;
  background: var(--background-gradient);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.322);
}

.nav-item,
.navbar-brand {
  font-family: var(--standard-font);
  text-transform: uppercase;
}

.button-standard {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  transition: all 0.1s ease-in-out;
}

.button-highlight {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  background-color: var(--light-color);
  transition: all 0.1s ease-in-out;
}

.button-highlight:hover,
.button-standard:hover {
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--standard-font);
  font-weight: bold;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.322);
}

.hero,
.about {
  margin: 0 0 90px 0;
}

.img-hero {
  width: 420px;
}

.highlight {
  font-family: var(--heading-font);
  font-size: 25px;
}

.img-background {
  height: 150px;
}

.img-about {
  width: 300px;
}

@media (max-width: 768px) {
  .mobile-center {
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
  .highlight {
    font-size: 25px;
  }
  .hero {
    margin: 0 0 60px 0;
  }
  .recent-work {
    margin: 0 10px;
  }
}
